<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Basics (Good)</span></div>

## 1 More Python Basics

### 1.1 Computers read = from Right to Left!

In [5]:
x = 40

y = x + 2

print(y)

42

In [7]:
y = 40

y = y + 2

print (y)  #means that what ever letter we put for the bottom left Y does not matter, since its read right to left?

42

In [8]:
y = 40

q = y + 2

print (q)

42

In [11]:
x = y = 10

print (y)
print (x)

10
10

### 1.2 Shorter and cleaner

In [12]:
y = 40
y = y + 2

In [13]:
y = 40
y += 2    # Same as y = y + 2
y

42

In [14]:
y = 40
y -= 2     # Same as y = y - 2
y

38

In [15]:
y = 40
y /= 2    # Same as y = y/2
y

20.0

In [16]:
y = 40
y *= 2    # Same as y = y * 2
y

80

### 1.3 Asking questions

In [17]:
fruits = ["apples", "banana", "pear", "mango"]
veg = ["potato", "celery", "kale", "carrot"]

In [23]:
"apples" in fruits

True

In [24]:
"apples" in veg

False

In [25]:
("apples" in fruits) or ("carrot" in veg)

True

In [26]:
("apples" in fruits) and ("carrot" in veg)

True

In [27]:
("apples" in fruits) or ("dog" in veg)

True

In [28]:
("apples" in fruits) and ("yam" in veg)

False

In [29]:
'apples' > 'orange'

False

### 1.4 There is more to if

In [30]:
name = 'batman'
if name == 'batman':
    print ('hello batsie | hahah')
elif name == 'robin':
    print ('hello sidekick | loser')

hello batsie | hahah

In [31]:
name = 'gabby'
if name == 'batman':
    print ('hello batsie | hahah')
elif name !== 'batman':
    print ('hello stranger | u rock')

SyntaxError: invalid syntax (4078547437.py, line 4)

In [33]:
name = 'gabby'
if name == 'batman':
    print ('hello batsie | hahah')
else:
    print ('hello stranger | u rock')

hello stranger | u rock

### 1.5 Python stores information in different formats or types.

In [34]:
#INTEGER(int), only the integer without decimals

x = int(1.234)
print(x, type(x))

1 <class 'int'>

In [35]:
# English word (str), not integer ie: cant do math

x = str(1.234)
print(x, type(x))

1.234 <class 'str'>

In [37]:
x + 1

TypeError: can only concatenate str (not "int") to str

In [38]:
#decimal number (float)

x = float(1.234)
print(x, type(x))

1.234 <class 'float'>

In [39]:
#complex number (complex), include an imaginary part of the number

x = complex(1.234)
print(x, type(x))

(1.234+0j) <class 'complex'>

In [40]:
x = '1.234'
print(x, type(x))

1.234 <class 'str'>

In [42]:
#TYPECASTING, can convert afterwards (x = <>x)

x = float(x) 
print(x, type(x))

1.234 <class 'float'>

### 1.6 Combining English and variables

In [48]:
#f stands for f-string
#{} stands for string interpolation


name = "Batman"
print(f"Hello {name}!")

Hello Batman!

In [44]:
name = "Batman"
print(f"Hello {name.upper()}!")

Hello BATMAN!

In [46]:
name = "Batman"
print(f"{Hello.upper()} {name.upper()}!")   

#only works for defined, else just manual uppercase

NameError: name 'Hello' is not defined

In [47]:
x = 10
print(f"The value of {x} squared is {x**2}!")

The value of 10 squared is 100!

In [49]:
text = 'Bruce Wayne is Batman.'
print(f'{text}')

Bruce Wayne is Batman.

In [64]:
print(f'{text:>30}')      # A block of 30 characters; aligned right

        Bruce Wayne is Batman.

In [63]:
print(f'{text:^30}')      # A block of 30 characters; aligned centre

    Bruce Wayne is Batman.

In [70]:
print(f'{text:<30}')      #^aligned left

Bruce Wayne is Batman.

In [72]:
print(f'The cube of pi to 6 decimal places is {np.pi**3:.6f}')

#f in .6f is used to tell the f-string to output the number in decimal notation

The cube of pi to 6 decimal places is 31.006277

In [74]:
print(f'The cube of pi to 5 decimal places is {np.pi**3:.5f}')

The cube of pi to 5 decimal places is 31.00628

In [75]:
print(f'The cube of pi to 6 decimal places is {np.pi**3:.6e}')

#e in .6e is used to tell the f-string to output the number in scientific notation

The cube of pi to 6 decimal places is 3.100628e+01

### 1.7 Python can be a prima-donna.

In [76]:
Print(error)

NameError: name 'Print' is not defined

## 2 Best Practices for Scientific Computing

### 2.1 Some tips

In [77]:

#Remember to start simple, get something working first before making it perfect.

### 2.2 Getting help.

In [78]:

# get info from python

help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

## Exercise 1 :  Bias for some heroes

In [115]:
def hello(name): 
    if name == 'batman' or name == 'blackwidow' :
        print(f"Hello {name.upper()}")
    else :
        print('gtfo')

In [116]:
hello('batman')

Hello BATMAN

In [117]:
hello('blackwidow')

Hello BLACKWIDOW

In [118]:
hello('gab')

gtfo

In [127]:
def hello(name):
    if name == 'batman':
        print(f"HELLO {name.upper()}")
    elif name == 'black widow' :
        print(f"HELLO {name.upper()}")
    else: 
        print('shoo')

In [124]:
hello("batman")

HELLO BATMAN

In [128]:
hello('gab')

shoo

## Exercise 2 :  Bias for some heroes, continues

In [135]:
def hello(name):
    if name.upper() == 'BATMAN':
        print("hello hero")

hello('batmAn')

hello hero

In [136]:
name = name.lower():

## Exercise 3 :  Look for help to replace

In [ ]:



# Your solution here